.banner-wrapper {
  background: no-repeat center center;
  background-size: cover; /* Ensure the image covers the entire area */
  padding: 60px 20px;
  color: var(--background-color);
  display: flex;
  align-items: center;
  min-height: 400px;
  width: 100vw; /* Ensure full viewport width */
  box-sizing: border-box;
  margin: 0 auto; /* Ensure centered within the viewport */
}

.banner-content {
  max-width: 600px;
  margin-left: 0; /* Move content to the left */
  text-align: left; /* Align text to the left */
}

.banner-subtitle {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.banner-title {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xl);
  line-height: 1.2;
  margin-bottom: 1em;
}

.banner-description {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  line-height: 1.6;
}

@media only screen and (max-width: 768px) {
  .banner-wrapper {
    padding: 40px 10px;
  }

  .banner-content {
    max-width: 100%;
    text-align: left; /* Ensure text remains left-aligned on smaller screens */
  }

  .banner-title {
    font-size: var(--heading-font-size-l);
  }
}
